<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Browse Members by Country | LinkedIn</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body id="join">
	<div class="top-menu">
		<div class="wrapper">
			<a href="default_page.html" class="logo-black">LinkedIn</a>
			<div class="top-menu-right-link">Already on LinkedIn? <a href="https://www.linkedin.com/uas/login">Sign in</a></div>
		</div>
	</div>
	<div class="wrapper">
		<div id="body-area" class="lessmargin">
			<div class="main-body-white">
				<div class="alert error" role="alert">
					<p><strong>There were one or more errors in your submission. Please correct the marked fields below.</strong></p>
				</div>
				<div class="introduction">
					<h1> To join LinkedIn, sign up below...it's free! </h1>
				</div>
				<div id="content">
					<div class="register-container">
						<form id="yui-gen2" class="standard-form sided">
							<ul>
								<li class="name">
									<label for="firstName-coldRegistrationForm">First Name:</label>
									<div class="fieldgroup">
										<span id="firstName-coldRegistrationForm-error" class="error"></span>
										<input id="firstName-coldRegistrationForm" type="text" maxlength="20" value="" name="firstName" />
									</div>
								</li>
								<li class="name">
									<label for="lastName-coldRegistrationForm">Last Name:</label>
									<div class="fieldgroup">
										<span id="lastName-coldRegistrationForm-error" class="error"></span>
										<input id="lastName-coldRegistrationForm" type="text" maxlength="40" value="" name="lastName" />
									</div>
								</li>
								<li>
									<label for="email-coldRegistrationForm">Email:</label>
									<div class="fieldgroup">
										<span id="email-coldRegistrationForm-error" class="error">The text you provided is too short (the minimum length is 3 characters, your text contains 2 characters).</span>
										<input id="email-coldRegistrationForm" type="email" data-ime-mode-disabled="" maxlength="128" value="" name="email" />
									</div>
								</li>
								<li class="password-field">
									<label for="password-coldRegistrationForm">New Password:</label>
									<div class="fieldgroup">
										<span id="password-coldRegistrationForm-error" class="error">The password you provided must have at least 6 characters.</span>
										<input id="password-coldRegistrationForm" type="password" value="" name="password" />
									</div>
									<p class="note">6 or more characters</p>
								</li>
							</ul>
							<p class="actions">
								<button id="btn-submit" class="btn-tertiary" type="submit">
									<div>Join LinkedIn</div>
								</button>							
							</p>
							<p id="register-custom-nav" class="key">
								Already on LinkedIn? <a href="https://www.linkedin.com/uas/login">Sign in</a>
							</p>
						</form>
					</div>
					<div id="extra">
						<div class="sign-in-with">
							<p class="handwritten">Save time by using your Facebook account to sign up for LinkedIn.</p>
							<p><a href="default_page.html" class="fb_button"><span class="fb_button_text">Sign up with Facebook</span></a></p>
						</div>
					</div>
				</div>
				<p id="agreement">
				 * By joining LinkedIn, you agree to LinkedIn's <a href="default_page.html" target="_blank">User Agreement</a>, <a href="default_page.html" target="_blank">Privacy Policy</a> and <a href="default_page.html" target="_blank">Cookie Policy</a>
				</p>			
			</div>
		
		</div> <!-- END: BODY-AREA -->	
	</div> <!-- END: WRAPPER -->	
		
	<div class="footer noborder">
		<div class="wrapper">
		<div id="legal">
			<p id="copyright">LinkedIn Corporation &copy; 2013</p>
			<p id="terms-of-use">Commercial use of this site without express authorization is prohibited.  </p>
		</div>
		</div>
	</div> <!-- END: FOOTER -->
</body>

</html>
